$accentColor = #ff4e6a//默认主题颜色
.content:not(.custom),
.theme-default-content:not(.custom),
.page-edit, .page-nav {
    max-width: none!important;
}
.content:not(.custom) > h1:first-child,
.theme-default-content:not(.custom)>h1:first-child {
    margin: -2.5rem;
    padding: 3.5rem 2.5rem;
    margin-top: 1.5rem!important;
    background-color: #f8f9fa;
}