.gt-header-textarea {
    background-color: #1d2020 !important;
    color: #e8e6e3 !important;
}
.gt-container {
    color: #e8e6e3de !important;
}
.gt-container .gt-meta {
    border-bottom-color: rgb(54, 59, 61) !important;
}
.gt-container .gt-btn-preview {
    background-color: #181a1b !important;
}
.gt-container .gt-header-preview {
    border-color: rgba(140, 130, 115, 0.1) !important;
    background-color: rgb(29, 32, 33) !important;
}
.markdown-body {
    color: rgb(206, 202, 195) !important;
    h1, h2{
        border-bottom-color: rgb(53, 58, 60) !important;
    }
    pre {
        background-color: rgb(28, 30, 31) !important;
        font-family: Consolas;
    }
    blockquote {
        color: rgb(159, 151, 138) !important;
        border-left-color: rgb(56, 61, 63) !important;
    }
    table td, table th {
        border-color: rgb(56, 61, 63) !important;
    }
    table tr {
        background-color: rgb(24, 26, 27) !important;
        border-top-color: rgb(63, 68, 70) !important;
    }
    table tr:nth-child(2n) {
        background-color: rgb(28, 30, 31) !important;
    }
    img {
        background-color: rgb(24, 26, 27) !important;
    }
}
.gt-container .gt-error {
    color: $color !important;
}
.gt-comment-content {
    background-color: rgb(27, 29, 30) !important;
    border-radius: 5px !important;
    color: #e8e6e3 !important;
}
.gt-comment-content:hover {
  -webkit-box-shadow: 0 0.625em 3.75em 0 #1e2122 !important;
  box-shadow: 0 0.625em 3.75em 0 #1e2122 !important;
}
.gt-container .gt-popup {
    background-color: rgb(24, 26, 27) !important;
    border-color: rgb(54, 59, 61) !important;
    border-radius: 5px !important;
}
.gt-container a.is--active {
    color: rgb(200, 195, 188) !important;
}
.gt-container .gt-version {
    color: rgb(173, 165, 155) !important; 
}