.gitment-comments-error {
    color: #c8c3bc;
}

.gitment-header-like-btn {
    color: #666 !important;
}

.gitment-editor-main::before ,.gitment-editor-main::after {
    border-right-color: #3c4143 !important;
}

.gitment-editor-main {
    border-color: rgb(60, 65, 67) !important;

    .gitment-editor-header {
        border-bottom-color: rgb(60, 65, 67) !important;
        
        .gitment-editor-tabs {
            .gitment-editor-tab.gitment-selected {
                color: #c8c3bc !important;
                background-color: #181a1b !important;
                border-color: #3c4143 !important;
            }

            .gitment-editor-tab {
                color: rgb(168, 160, 149) !important;
                text-decoration-color: initial !important;
                background-color: transparent  !important;
                border-color: transparent  !important;
                outline-color: initial  !important;
            }
        }

        .gitment-editor-login {
            color: #666;
        }
    }

    .gitment-editor-body {
        textarea {
            background-color: rgb(24, 26, 27) !important;
            color: rgb(200, 195, 188) !important;
            border-color: initial !important;
            outline-color: initial !important;
            box-shadow: none !important;
        }
    }
}


.gitment-markdown {
    color: rgb(200, 195, 188) !important;

    h1 {
        color: rgb(200, 195, 188) !important;
        border-bottom-color: rgb(53, 58, 60) !important;
    }

    h2 {
        color: rgb(200, 195, 188) !important;
        border-bottom-color: rgb(53, 58, 60) !important;
    }

    h3 {
        color: rgb(200, 195, 188) !important;
    }

    h4 {
        color: rgb(200, 195, 188) !important;
    }

    h5 {
        color: rgb(200, 195, 188) !important;
    }

    .highlight {
        background-image: initial !important;
        background-color: rgb(32, 35, 42) !important;
        color: rgb(185, 179, 170) !important;

        pre {
            background-color: rgb(30, 32, 33) !important;
        }
    }

    blockquote {
        color: rgb(159, 151, 138) !important;
        border-left-color: rgb(56, 61, 63) !important;
    }

    table {
        tr {
            background-color: rgb(24, 26, 27) !important;
            border-color: rgb(63, 68, 70) !important;
        }
        
        tr:nth-child(2n) {
            background-color: rgb(30, 32, 33) !important;
        }

        th {
            border-color: rgb(56, 61, 63) !important;
        }

        td {
            border-color: rgb(56, 61, 63) !important;
        }
    }
}

.gitment-comment {
    .gitment-comment-main::before, .gitment-comment-main::after  {
        border-right-color: rgb(60, 65, 67) !important;
    }

    .gitment-comment-main {
        border-color: rgb(60, 65, 67) !important;

        .gitment-comment-header {
            color: rgb(168, 160, 149) !important;
            background-color: rgb(24, 26, 27) !important;
        }    
    }
}