.v {
    .vwrap {
        border-color: rgb(52, 57, 59) !important;

        .vheader {
            .vinput {
                border-bottom-color: rgb(57, 62, 64) !important;
            }    
        }

        .vpreview {
            box-shadow: rgb(32 35 37) 0px 0px 1px !important;
            color: #b2b2b5 !important;

            pre {
                color: rgb(200, 195, 188) !important;
                background-image: initial !important;
                background-color: rgb(31, 33, 35) !important;
            }

            blockquote {
                color: rgb(168, 160, 149) !important;
                border-left-color: rgba(53, 58, 60, 0.5) !important;
            }
        }
    }
    .vbtn {
        color: rgb(201, 196, 189) !important;
        border-color: rgb(53, 58, 60) !important;
        background-image: initial !important;
        background-color: rgb(34, 37, 38) !important;
        outline-color: initial !important;
    }
    .vempty {
        color: rgb(168, 160, 149) !important;

        pre {
            color: rgb(178, 172, 162) !important;
        }
    }
}

.vh {
    .vcontent {
        box-shadow: rgb(32 35 37) 0px 0px 1px !important;
        color: #b2b2b5 !important;

        pre {
            color: rgb(200, 195, 188) !important;
            background-image: initial !important;
            background-color: rgb(31, 33, 35) !important;
        }

        blockquote {
            color: rgb(168, 160, 149) !important;
            border-left-color: rgba(53, 58, 60, 0.5) !important;
        }
    }
}