#nexmoe-header {
    height: 4em;
    background-color: transparent;
    line-height: 4em;
    margin-bottom: 10rem;
}

#nexmoe-header .nexmoe-container {
    display: flex;
    flex-direction: row;
}

#nexmoe-header .logo {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10em;
}

#nexmoe-header .nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    margin-left: auto;
}

#nexmoe-header .nav .nav-item {
    margin-left: 1.5em;
}