.xiaoshu {
    .nexmoe-container {
        max-width: 860px;
        margin: auto;
        padding: 0 20px;
    }

    #nexmoe-content {
        width: 100%;
        padding: 0;
        margin: 0;
        background: #fff;
        border: 0;
        box-shadow: none;
        border-radius: 0;
        overflow: hidden;
    }
}
