<section class="archive">
    <ul class="post-archive">
      <% page.posts.each(function (post) { %>
        <li class="post-item">
          <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span>
          <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
      <% }) %>
    </ul>
  </section>
  <%- partial('_partial/paginator') %>