<% // 参考：https://github.com/SukkaW/hexo-theme-suka/blob/master/layout/_pages/archive.ejs %>
<section class="nexmoe-archives">

    <article>
        <% function buildArchive(posts, year) { %>
            <h2><%= year %></h2>
            <ul>
            <% posts.each(post => { %>
                <li><span><%= date(post.date, 'MM-DD') %></span><a href="<%- url_for(post.path) %>" ><%- post.title %></a></li>
            <% }) %>
            </ul>
        <% } %>

        <% if (!page.year) {
            let years = {};
            page.posts.each(post => years[post.date.year()] = null);
            
            for (let year of Object.keys(years).sort((a, b) => b - a)) {
                let posts = page.posts.filter(p => p.date.year() == year);
                buildArchive(posts, year)
            }
        } 
        %>
    </article>
</section>

<style>
.nexmoe-archives article > *:first-child {
    margin-top: 0;
}
.nexmoe-archives article > *:last-child {
    margin-bottom: 0;
}
.nexmoe-archives ul {
    list-style: none;
    padding-left: 0!important;
}
.nexmoe-archives li {
    position: relative;
    padding: 10px 0;
}
.nexmoe-archives li::before {
    content: "";
    width: 14px;
    height: 14px;
    background: #ff4e6a;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 11px;
    border-radius: 100%;
    border: 3px solid #fff;
    z-index: 100;
    position: relative;
}
.nexmoe-archives li::after {
    content: "";
    height: 100%;
    width: 2px;
    background: rgba(255, 78, 106, 0.2);
    position: absolute;
    left: 6px;
    top: 20px;
}
.nexmoe-archives li:last-child:after {
    display: none;
}
.nexmoe-archives span {
    margin-right: 15px;
}
</style>