<div class="nexmoe-post">
	<article class="nexmoe-py">
		<%- page.content %>
	</article>
	<% if (page.comments){ %>
        <div class="nexmoe-post-footer">
            <%- theme.slotComment %>
        </div>
    <% } %>
</div>
