<% if (site.posts.length){ %>
  <div class="nexmoe-widget-wrap">
    <h3 class="nexmoe-widget-title"><%= __('recent_posts') %></h3>
    <div class="nexmoe-widget">
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>