<div class="nexmoe-widget-wrap">
    <div class="nexmoe-widget nexmoe-search">
        <form id="search_form" action_e="<%= theme.search %>" onsubmit="return search();">
            <label><input id="search_value" name="q" type="search" placeholder="<%= __('search') %>"></label>
        </form>
    </div>
</div>