<div class="nexmoe-widget-wrap">
    <div class="nexmoe-widget nexmoe-search">
        <% if (theme.search.type=='engine') { %> 
            <form id="search_form" action_e="<%= theme.search.url %>" onsubmit="return search();">
                <label><input id="search_value" name="q" type="search" placeholder="<%= __('search') %>"></label>
            </form>
        <% } else { %>
            <form id="search_form">
                <label><input class="st-default-search-input" id="search_value" name="q" type="search" placeholder="<%= __('search') %>" style="
                    font-size: 15px !important;
                    height: 56px !important;
                    background-image: none;
                "></label>
            </form>
        <% } %> 
    </div>
</div>