// 用户颜色配置，无事勿动
// 常规配色
$color1 = rgb(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'));
$color2 = rgb(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'));
$color3 = rgb(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'));
$color4 = rgb(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'));
$color5 = rgb(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'));
$color6 = rgb(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'));
$color7 = rgb(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'));
// nexmoe-rainbow 背景配色
$nrbgc1 = rgba(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'), 0.15);
$nrbgc2 = rgba(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'), 0.15);
$nrbgc3 = rgba(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'), 0.15);
$nrbgc4 = rgba(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'), 0.15);
$nrbgc5 = rgba(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'), 0.15);
$nrbgc6 = rgba(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'), 0.15);
$nrbgc7 = rgba(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'), 0.15);
// nexmoe-rainbow-fill 背景配色
$nrfbgc1 = rgba(hexo-config('color.first.r'), hexo-config('color.first.g'), hexo-config('color.first.b'), 0.9);
$nrfbgc2 = rgba(hexo-config('color.second.r'), hexo-config('color.second.g'), hexo-config('color.second.b'), 0.7);
$nrfbgc3 = rgba(hexo-config('color.third.r'), hexo-config('color.third.g'), hexo-config('color.third.b'), 0.7);
$nrfbgc4 = rgba(hexo-config('color.fourth.r'), hexo-config('color.fourth.g'), hexo-config('color.fourth.b'), 0.7);
$nrfbgc5 = rgba(hexo-config('color.fifth.r'), hexo-config('color.fifth.g'), hexo-config('color.fifth.b'), 0.7);
$nrfbgc6 = rgba(hexo-config('color.sixth.r'), hexo-config('color.sixth.g'), hexo-config('color.sixth.b'), 0.7);
$nrfbgc7 = rgba(hexo-config('color.seventh.r'), hexo-config('color.seventh.g'), hexo-config('color.seventh.b'), 0.7);