// 建议使用Chrome插件Dark Reader进行暗黑化
@import '_dark/_comment/gitalk.styl';
@import '_dark/_comment/gitment.styl';
@import '_dark/_comment/valine.styl';
@import '_dark/_partial/article.styl';
@import '_dark/_partial/searchbox.styl';

html {
    background-color: #181a1b !important;
}

.nexmoe-avatar {
    box-shadow: rgba(49 64 89 0.6) 0px 0.3rem 2rem !important;
}

.nexmoe-count {
    div {
        span {
            color: #eee !important;
        }
    }    
}

.nexmoe-search {
    input {
        color: #e8e6e3 !important;
    }    
}

.nexmoe-widget-wrap {
    box-shadow: rgba(49 64 89 0.4) 0px 0px 1rem !important;
    background-color: rgb(24, 26, 27) !important;
}

#nexmoe-content {
    .nexmoe-primary {
        box-shadow: rgba(49 64 89 0.4) 0px 0px 1rem !important;
        background-color: rgb(24, 26, 27) !important;

        .nexmoe-page-nav {
            list-style-image: initial !important;
            color: rgb(211, 207, 201) !important;
            background-color: rgb(29, 32, 33) !important;
        }
    }

    .nexmoe-post {
        .nexmoe-post-copyright {
            color: #d8d5d0 !important;
            background-color: #1b1d1e !important; 
        }
    }

    .nexmoe-post-footer {
        background-color: #1d2021 !important;
    }
}

.nexmoe-post-right .nexmoe-tool .mdui-fab {
    background-color: rgb(24, 26, 27) !important;
    color: rgb(189, 183, 175) !important;
}

.nexmoe-toc {
    background-color: #181a1b !important;
}

.nexmoe-toc a {
    color: #9ca2a8 !important;
}

#nexmoe-background {
    .mdui-appbar.mdui-shadow-0 {
        color: rgba(232, 230, 227, 0.87) !important;
        background-color: rgb(24, 26, 27) !important;
    }
}

@media (max-width: 1024px){
    .mdui-drawer {
        color: rgba(232, 230, 227, 0.87) !important;
        background-color: rgb(24, 26, 27) !important;
    }
}

.textarea-fw , .wrap-word-gw{
    color: rgb(200, 195, 188) !important;
}

.module-cmt-float-bar {
    display: none !important;
} 