<% if (page.total > 1){ %>
    <nav class="nexmoe-page-nav">
      <%- paginator({
        prev_text: '<i class="nexmoefont icon-left"></i>',
        next_text: '<i class="nexmoefont icon-right"></i>',
        escape: false
      }) %>
    </nav>
  <% } %>