article {
    color: #bdb7af !important;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #dddad6 !important;
}

article h2:before {
    border: 1px solid #35393b !important;
}

article blockquote {
    background-color: #1c1e1f !important;
    border: 1px solid rgb(53, 57, 59) !important;
}

article > ol > li::before {
    background-color: rgba(91, 91, 255, 0.1) !important;
}

article > table {
    color: #aca49a !important;
    text-align: center;
    -webkit-box-shadow: 0 0 0 1px #222426;
	box-shadow: 0 0 0 1px #222426;
	display: inline-block !important;
    margin: auto;
	border-radius: 10px;
}

article > table thead {
	border: 1px solid #35393b !important;
	background-color: #181a1b !important;
}

article > table thead tr {
	background-color: #1c1e1f !important;
}

article > table th {
    border: 1px solid #35393b !important;
}

article > table td {
    border: 1px solid #35393b !important;
}

article > table tr {
	background-color: #181a1b !important;
}

article > table tr:nth-child(2n) {
	background-color: #1c1e1f !important;
}

article ul li::before {
    border: 3px solid #303436 !important;
}

.aplayer .aplayer-list ol li.aplayer-list-light {
	background: #181a1b !important;
}