.search-container {
    .search-header {
        background-color: #181a1b !important;
        color: #fff;
        
        input {
            background-color: #181a1b !important;
            color: #fff;
        }
    }
    .search-result {
        background-color: #181a1b !important;
        color: #fff;

        h3 {
            color: #fff !important;
        }
    }
}