<div id="gitment"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: '<%= theme.gitment.owner %>', // 你的 GitHub ID
    repo: '<%= theme.gitment.repo %>', // 存储评论的 repo
    oauth: {
        client_id: '<%= theme.gitment.clientID %>', // 你的 client ID
        client_secret: '<%= theme.gitment.clientSecret %>' // 你的 client secret
    },
})
gitment.render('gitment')
</script>