<div class="valine"></div>
<script src='<%- theme.cdn %>/valine@1.3.9/dist/Valine.min.js'></script>
<script>
    // 使用方法 https://valine.js.org/quickstart.html
    new Valine({
        el: '.valine',
        appId: '<%= theme.valine.appId %>',
        appKey: '<%= theme.valine.appKey %>'
    })
</script>