
.nexmoe-page-nav > * {
    margin-right: 8px;
    float: left;
    color: #999;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #f5f6f5;
}

.nexmoe-page-nav {
    list-style: none;
    color: #ddd;
    text-align: center;
    margin-top: 48px;
    display: flex;

    .prev {
        margin-left: 8px;
    }

    .current {
        color: #fff;
        background: var(--color-primary);
        opacity: 0.9;
        box-shadow: 0 2px 12px var(--color-primary);
    }
}
